body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body {
  height: 100%;
  overflow: hidden;

  --footerHeight: 5em;
  --headerHeight: 5em;
}

section {
  margin: 0 1em
}

#root {
  position: relative;
  width: 100%;
  overflow-y: scroll;
  padding-right: 17px;
  box-sizing: content-box;
  min-height: 100%;
}

.Hookrouter {
  min-height: calc(100% - var(--footerHeight) - var(--headerHeight));
  width: 100vw;
  position: absolute;
}

.withFooter {
  padding-bottom: var(--footerHeight);
}

.withHeader {
  padding-top: var(--headerHeight);
}
